# Verification

I had a mock generator that created the conditions of transitions and letters and words. I checked for specific output from the agent or oracle on stdout. What to print was specified in the instruction. The difficult part was creating the mock accelerometer and decoding I2C and then creating a profile of accelerations that would be sent to the agent or oracle on request to simulate the operation of the morse code key.
